  	<div class="body">
      <div class="container">
<h1>User info</h1>
<form class="edit_user" id="edit_user_25756" enctype="multipart/form-data" action="/users/25756" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="5IORiNfCN3Q5Yg+XRi8OGxzKa+p6rhIdrmzuHyBoDfcWGPUeSU3UBtrTNfh+n3Sh/U4ltz8AdkRdYB4mTPNkVw==">

<%# ここからエラーメッセージ %>
  <% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %>error</li>
      <% end %>
      </ul>
  </div>
  <% end %>
  <%# ここまでエラーメッセージ %>

  <%= form_for @user do |f| %>
  
<div class="field">
  <label for="user_name">Name</label>
  <%= f.text_field :name %>
</div>

<div class="field">
  <label for="user_image">Image</label>
  <%= f.attachment_field :profile_image %>
</div>

<div class="field">
  <label for="user_introduction">Introduction</label>
  <%= f.text_field :introduction %>
</div>

<div class="actions">
  <%= f.submit 'Update User' %>
</div>

  <% end %>
 </form>
 </div>
    </div>

    <footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>


</body>
