

  <body>


<div class="body">
  <div class="container">
    <div class="row">
        <div class="col-xs-3">
        	<!--User info-->
          <table class="table">
            <tbody>
              <%= render 'users/userinfo', user: @user %>
            </tbody>
          </table>
          <!--New Book-->
          <%= render 'books/newbock', book: @book%>
        </div>

        <div class="col-xs-9">
          <table class="table table-hover table-inverse">
            <h2>Books</h2>
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
                                            <!--↓アソシエーションUserモデルからとってきた-->
                <tr>
                  <td><%= link_to user_path(book.user.id) do %>
                      <%= attachment_image_tag book.user,:profile_image, fallback:'no-image.png', size: '40x40' %><% end %></td>
                  <td><%= link_to book.title, book_path(book)  %></td>
                  <td><%= book.body %></td>

                  <!--いいね機能-->
                  <td>
                  <div id="favorites_buttons_<%= book.id %>">
                     <%= render partial: 'favorites/favorite', locals: { book: book} %>
                  </div>
                  </td>
                  <!--いいね機能ここまで-->

                  <!--コメント件数-->
                  <td>
                    <ul class="inline-meta">
                      <%= "コメント数：#{book.book_comments.count}" %>
                    </ul>
                  </td>
                  <!--コメント件数ここまで-->
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

    <footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>




</body></html>

